@media screen and (max-width: 1015px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }    
}

@media screen and (min-width: 1016px) and (max-width: 1430px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

@media screen and (min-width: 1430px) and (max-width: 1720px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}